{% extends "base_prof.html" %}
{% block title %}My Projects{% endblock %}

<!-- Extra CSS -->
{% block style %}
  #profile {padding-left: 270px;}
  h1 {padding-top: 50px;}
  .proj {color: black; font-size: 17px;}
{% endblock %}

{% block content %}

<div class="container" id="profile">
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
              <div class="alert alert-{{ category }}" role="alert">
                  {{ message }}
              </div>
              <br>
          {% endfor %}
      {% endif %}
  {% endwith %}

  <h1>Account</h1>
    <form class="font-weight-bold" method="post" action={{ url_for('account') }}>
        Old Password: <input class="form-control" type="text" name="old_password"><br>
        New Password: <input class="form-control" type="password" name="new_password"><br>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>
{% endblock %}
