<!DOCTYPE html>
<html>
    <head>

      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      {% block head %}
          <title>{{Title}}</title>
      {% endblock %}
    </head>
    <style>
        {% block style %}{% endblock %}
        body {background-color: #efeeee; text-align: center;}
        h1 {padding: 20px}
        .sub {padding: 10px; border-radius: 4px; background-color: #989898;
              border: none; color: white; text-align: center; display: inline-block;
              font-size: 16px; margin: 4px 2px; cursor: pointer;}
        .footer {position: fixed; left: 0; bottom: 0; width: 100%;}
    </style>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                    <br>
                {% endfor %}
            {% endif %}
        {% endwith %}
      {% block content %}
      {% endblock %}
      <br>
      <footer style="background-color:#808080; color:white;" class="footer font-small p-2 text-left">
        <br>
        <div class="row">
          <div class="col-sm-6" style="color:white;">
            <h6>Team super-duper-umbrella</h6>
            <h6>@ Copyright 2020</h6>
            <h6>Yevgeniy Gorbachev, Amanda Chen, Elizabeth Doss, Junhee Lee</h6>
          </div>
          <hr class="clearfix w-80 d-md-none pb-3">
          <div class="col-sm-6 text-right">
            <h6><a target="_blank" href="https://docs.google.com/document/d/1atMCAui86AwBSWEz8lCIJFaNkUL4V5fwVecNcnxSpP0/edit" style="color:black;">Google Calendar API</a></h6>
          </div>
        </div>
      </footer>
    </body>
