{% extends "base_prof.html" %}
{% block title %}My Projects{% endblock %}

<!-- Extra CSS -->
{% block style %}
  #profile {padding-left: 270px;}
  h1 {padding-top: 50px;}
  .proj {color: black; font-size: 17px;}
{% endblock %}

{% block content %}

<div class="container" id="profile">
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
              <div class="alert alert-{{ category }}" role="alert">
                  {{ message }}
              </div>
              <br>
          {% endfor %}
      {% endif %}
  {% endwith %}
  <h1>Home</h1>
    <!--
    <div class="container p-2 my-4 ml-2 border">
      <a class="proj font-weight-bold" href="#!!!!!!!">Project EXAMPLE - Delete Later</a>
      <p class="mx-3">This is the description.</p>
    </div>
    -->
</div>
{% endblock %}
