{% extends "base_prof.html" %}
{% block title %}My Projects{% endblock %}

<!-- Extra CSS -->
{% block style %}
  #profile {padding-left: 270px;}
  h1 {padding-top: 50px;}
  .proj {color: black; font-size: 17px;}
  #create {background-color: #989898; border-color: #989898; padding: 25px;}
  .btn-primary {margin-bottom: 20px; padding: 10px; background-color: green; border-color: green;}
  #form {float: left; margin-left: 5px;}
{% endblock %}

{% block content %}
<div class="container" id="profile">
  <h1>Joined Projects</h1>
  <hr>
  {% for project in myprojects %}
  <div class="container p-2 my-4 ml-2 border">
	    <a class="proj font-weight-bold" href="/projects/{{ project.id }}">{{ project.name }}</a>
    <p class="mx-3">{{ project.blurb }}</p>
  </div>
  {% endfor %}
    <!--
    <div class="container p-2 my-4 ml-2 border">
      <a class="proj font-weight-bold" href="#!!!!!!!">Project EXAMPLE - Delete Later</a>
      <p class="mx-3">This is the description.</p>
    </div>
    -->
</div>
<script src="/static/scripts/projects.js"></script>
{% endblock %}
