{% extends "base_prof.html" %}
{% block title %}Info{% endblock %}

<!-- Extra CSS -->
{% block style %}
  #proj {padding-left: 270px;}
  h1 {padding-top: 50px;}

{% endblock %}

{% block content %}

<div class="container" id="proj">
  <h1>{{name}}</h1>
    <div class="container p-2 my-4 ml-2">
      <p class="mx-3">{{description}}</p>
    </div>
    <br>
    <div id="tasks" class="mx-3">
	    {% for task in tasks %}
	    <div class="task container p-2 my-4 ml-2 border" id="{{ task[0] }}">
		    <p>{{ task[4] }} - <i>{{ task[2] }}</i>: {{ task[3] }}</p>
	    </div>
	    {% endfor %}
    </div>
</div>
{% endblock %}
