{% extends "base_proj.html" %}
{% block title %}{{name}}{% endblock %}

<!-- Extra CSS -->
{% block style %}
  #proj {padding-left: 270px;}
  h1 {padding-top: 50px;}
{% endblock %}

{% block content %}

<div class="container" id="proj">
  <h1>Name EXAMPLE{{name}}</h1>
    <div class="container p-2 my-4 ml-2">
      <p class="mx-3">Description EXAMPLE{{description}}</p>
    </div>
    <div class="container p-2 my-4 ml-2 border">
      <ol class="mx-3">
        {% for task in tasks %}
          <li>{{task}}</li>
        {% endfor %}
        </ol>
    </div>

</div>
{% endblock %}
