{% extends "base_prof.html" %}
{% block title %}Info{% endblock %}

<!-- Extra CSS -->
{% block style %}
  #proj {padding-left: 270px;}
  h1 {padding-top: 50px;}

{% endblock %}

{% block content %}

<div class="container" id="proj">
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
              <div class="alert alert-{{ category }}" role="alert">
                  {{ message }}
              </div>
              <br>
          {% endfor %}
      {% endif %}
  {% endwith %}
  <h1>{{name}}</h1>
  <input type="hidden" id="projid" value="{{ pid }}">
  <hr>
    <form method="post" action={{ url_for('invite') }}>
        <input type="text" name="uname"/>
        <input type="hidden" name="project" value="{{name}}"/>
        <button type="submit" class="btn btn-outline-secondary btn-sm">Invite</button>
    </form>
    <div class="container p-2 my-4 ml-2">
      <p class="mx-3">{{description}}</p>
    </div>
    <br>
    <div id="tasks" class="mx-3">
	    {% for task in tasks %}
	    <div class="task container p-2 my-4 ml-2 border" id="{{ task.id }}">
		    <p>{{ task[0].deadline }} - <i>{{ task[0].status }}</i>: {{ task[1] }}</p>
        <p>{{ task[0].content }}</p>
        {% if task[0].status == 'incomplete' %}
          <form method="post" action={{ url_for('task_status') }}>
              <input type="hidden" name="task" value="{{ task[0].id }}"/>
              <button type="submit" name="response" value="c" class="btn btn-outline-dark btn-sm">Complete</button>
              <button type="submit" name="response" value="a" class="btn btn-outline-dark btn-sm">Abandon</button>
          </form>
        {% endif %}
	    </div>
	    {% endfor %}
	<script>
		const edit = function(e) {
			let task = e.target;
			let projid = document.getElementById('projid').value;
			window.location.href= `/edittask?projid=${projid}&id=${task.id}`
		};
		let tasks = document.getElementsByClassName('task');
		for(var i = 0; i < tasks.length; i++) {
			tasks[i].addEventListener();
		}
	</script>
    </div>
    <button id="create" class="btn btn-secondary">Create a New Task</button>
	<script>
		const redir = function() {
			let projid = document.getElementById('projid');
			window.location.href = `/newtask?projid=${projid.value}`;
		};
		let button = document.getElementById("create");
		button.addEventListener("click", redir);
	</script>
</div>
{% endblock %}
