{% extends "base_sign.html" %}

{% block content %}

<div class="container">
  <h1>Sign up: </h1>
  <form class="font-weight-bold" action='#!!!!!!!!!!!!!' method="POST">
      Username:<br>
      <input type="text" name="username"><br>
      Password:<br>
      <input type="password" name="password"><br>
      Confirm Password:<br>
      <input type="password" name="confirm">
      <br>
      <input class="sub" style="width: 10%;" type="submit" value="Submit">
  </form><br>
  <a href="#!!!!!!!!!!!!!">Already have an account?</a>
  </div>
{% endblock %}
